<h1>Login Form</h1>

<div class="container">
  <div class="alert alert-warning" *ngIf='invalidLogin'>{{errorMessage}}</div>
  <br>
  <div>
    <fieldset class="form-group">
      <label>Username</label>
      <input type="text" name="username" [(ngModel)]="username" />
    </fieldset>
    <fieldset class="form-group">
      <label>Password</label>
      <input type="password" name="password" [(ngModel)]="password" />
    </fieldset>
    <!-- <button (click)=handleLogin() class="btn btn-success">Login</button> -->
    <button (click)=handleBasicAuthLogin() class="btn btn-success">Login</button>
  </div>
</div>