<h1>My TOdo's</h1>
<div class="container">
  <div class="alert alert-success" *ngIf='message'>{{message}}</div>
  <table class="table">
    <thead>
      <tr>
        <th>Description</th>
        <th>TargetDate</th>
        <th>Completed ?</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let todo of todos">
        <td>{{todo.description}}</td>
        <!--Using Pipe (|) to format date -->
        <td>{{todo.targetedDate | date |uppercase}}</td>
        <td>{{todo.done}}</td>
        <td cellpadding="10px"><button (click)="updateTodo(todo.id)" class="btn btn-success">Update</button>
          <button (click)="deleteTodo(todo.id)" class="btn btn-danger">Delete</button>
        </td>
      </tr>
    </tbody>
  </table>
  <div class="row">
    <button (click)="addTodo()" class="btn btn-success">Add New Todo</button>
  </div>
</div>